*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/**********************BASIC*************************/

:root{
    /*--font: calc(0.5em + 1vw);*/
    font-size: calc(0.5em + 1vw);
    font-family: 'Playfair Display', serif;
}
input, select, button, textarea{
    border: 1px solid black;
    font-size: 0.8em;
}
a {
    color: black;
}
a:hover {
    text-decoration: underline;
}
button {
    padding: 5px;
}
button:hover {
    background: antiquewhite;
    flood-color: darkblue;
}

/**********************HEADER*************************/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: antiquewhite;
}
.header_wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
/**********************HEADER-UP*************************/
.header_upper {
    display: flex;
    align-items: center;
    min-height: 70px;
}
.header_img {
    flex-grow: 1;
    z-index: 5;
}
.header_title {
    flex-grow: 2;
    z-index: 5;
}
.header_title > p {
    font-size: 3em;
    /*font-size: var(--font);*/
}
.header_icon {
    display: none;
}
/**********************HEADER-DOWN*************************/
.header_nav {
    background: linear-gradient(to bottom, lightblue, antiquewhite);
}
.header_menu > li {
    position: relative;
}
.menu_item {
    font-size: 2em;
}
.menu_sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: black;
    padding: 15px;
    min-width: 200px;
}
.menu_sub-list > li {
    padding: 5px 0;
}
.menu_sub-list li:last-child {
    padding: 5px 0 0 0;
}
.menu_sub-link {
    color: white;
    font-size: 1.5em;
}
.menu_arrow {
    display: none;
}
/********************TOUCH***PC**********************/
body._lock {
    overflow: hidden;
}
body._pc .header_menu > li:hover .menu_sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    pointer-events: all;
}
body._touch .header_menu > li {
    display: flex;
    align-items: center;
}
body._touch .menu_arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 0 0 0 5px;
    transition: transform 0.3s ease 0s;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #fff;
}
body._touch .header_menu > li._active .menu_sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    pointer-events: all;
    display: block;
}
body._touch .header_menu > li._active .menu_arrow {
    transform: rotate(-180deg);
}

/******************HEADER-ADAPTIVE*******************/
@media (min-width: 767px) {
    .header_menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }
    .header_menu > li {
        padding: 10px 0;
    }
    .menu_sub-list {
        transform: translate(0, 10%);
        transition: all 0.3s ease 0s;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}
@media (max-width: 767px) {
    /*--------ВЕРХНЯЯ ЧАСТЬ ХЕДЕРА-------*/
    /*--------ИКОНКА-------*/
    .header_icon {
        display: block;
        flex-grow: 1;
        position: relative;
        width: 25px;
        height: 20px;
        cursor: pointer;
        margin-right: 10px;
        z-index: 5;
    }
    .header_icon span,
    .header_icon::before,
    .header_icon::after {
        position: absolute;
        left: 0;
        height: 15%;
        width: 100%;
        background-color: black;
        transition: all 0.3s ease 0s;
    }
    .header_icon::before,
    .header_icon::after {
        content: '';
    }
    .header_icon::before {
        top: 0;
    }
    .header_icon::after {
        bottom: 0;
    }
    .header_icon span {
        top: 50%;
        transform: scale(1) translate(0, -50%);;
    }
    .header_icon._active span {
        transform: scale(0) translate(0, -50%);
    }
    .header_icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }
    .header_icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }
    /*--------НИЖНЯЯ ЧАСТЬ ХЕДЕРА-------*/
    .header_nav {
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 100px 30px 30px 30px;
        overflow: auto;
        transition: left 0.3s ease 0s;
    }
    .header_nav._active {
        left: 0;
    }
    .header_nav::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 70px;
        top: 0;
        left: 0;
        background-color: antiquewhite;
        z-index: 2;
    }
    .header_menu > li {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 0 50px 0;
    }
    .header_menu > li._active .menu_sub-list {
        display: block;
    }
    .menu_sub-list {
        background: rgba(0, 0, 0, 0.8);
        position: relative;
        flex: 1 1 100%;
        margin: 20px 0 0 0;
        display: none;
    }
}
/**********************MAIN*************************/





.main_wrapper {
    padding: 120px 10px 0 10px;
    max-width: 1200px;
    margin: 0 auto;
    background: lightblue;
    font-size: 1.5em;
}
.main_wrapper {
    display: grid;
   grid-template-areas: "one four"
                         "two four"
                         "three four";

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
}
.form_one {
    grid-area: one;
}
.form_two {
    grid-area: two;
}
textarea {
    resize: none;
    width: 300px;
    height: 100px;
}
.form_three {
    grid-area: three;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.form_four {
    grid-area: four;
    margin: auto;
}
.part_of_form_four {
    display: grid;
}
.form_el {
    padding: 5px;
}





















